In [1]:
print("Hello world")

Hello world

In [2]:
Print("Hello world")###it should be print not Print

NameError: name 'Print' is not defined

In [3]:
print(helllo w)###string must be defined with inverted comma

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1577106446.py, line 1)

In [4]:
print("hello")

hello

###basis of python

###jdjdj

###jfjfj

##jdjdj

#chh

####jdjdj

fjfjfjfj

In [9]:
98+9889+9

9996

In [10]:
989|)((0
      
      ))

SyntaxError: unmatched ')' (1420078806.py, line 1)

        ### 8988=98

In [12]:
A=4
B=8
C=A+B

In [13]:
C

12

In [15]:
print(C)

12

In [16]:
x=34
y=89
sub=x-y
sub

-55

In [17]:
A=8
B=9
C=A+B
D=A-B
C
D

-1

In [18]:
C,D

(17, -1)

In [20]:
A=9+8+7+9
A

33

In [21]:
A=(8+9+8+8)
A

33

In [22]:
A,B,C=89,98,"HI"
B,C

(98, 'HI')

In [23]:
print(C)

HI

In [25]:
a=b=c="yes"
b

'yes'

In [26]:
a="yes"=b

SyntaxError: cannot assign to literal (3108683570.py, line 1)

Data Types

In [27]:
Name=latha

NameError: name 'latha' is not defined

In [ ]:
Name="latha"

In [ ]:
Name

In [28]:
a="latha"#latha is string(tesy)
type(a)

str

In [29]:
a=8.9
type(a)

float

In [30]:
a=2j
type(a)

complex

In [37]:
a=8
b=4.4
c=8-3j
d=True
f="True"
e="raj"

In [38]:
type(a)

int

In [39]:
type(b)

float

In [40]:
type(c)

complex

In [41]:
type(d)

bool

In [42]:
type(e)

str

In [43]:
type(f)

str

In [44]:
type(a,b,c,d,e,f)

TypeError: type() takes 1 or 3 arguments

In [45]:
type(a),type(b),type(c),type(e),type(f)

(int, float, complex, str, str)

In [ ]:
#List
""""""
1.Allows Hetergenous
2.Indexstart from 0
3.Mutable using index
4.[]

In [1]:
sample_list=[12,43,56,"hi",1+3j,5.8]
sample_list

[12, 43, 56, 'hi', (1+3j), 5.8]

In [2]:
type(sample_list)

list

In [3]:
sample_list[0]

12

In [4]:
sample_list[3]

'hi'

In [6]:
sample_list[10]

IndexError: list index out of range

In [7]:
sample_list[20]

IndexError: list index out of range

In [8]:
sample_list[2]

56

In [9]:
sample_list[2]=3.4

In [10]:
sample_list

[12, 43, 3.4, 'hi', (1+3j), 5.8]

In [11]:
sample_list[4]=100
sample_list

[12, 43, 3.4, 'hi', 100, 5.8]

In [12]:
sample_list.reverse()

In [13]:
sample_list

[5.8, 100, 'hi', 3.4, 43, 12]

In [14]:
sample_list=[21,34,64,12,8.8]

In [15]:
sample_list.sort()
sample_list

[8.8, 12, 21, 34, 64]

###tuple

1.ALLOWS HETerogenous 

2.index starts from 0 and retrieve using index can extract numberr using index

3.cannot change the data once delared imutable

4()

In [17]:
sample_tuple=(1,8,4.4,"jj",1+4J)
sample_tuple

(1, 8, 4.4, 'jj', (1+4j))

In [18]:
type(tuple)

type

In [22]:
sample_tuple[4]

(1+4j)

In [23]:
sample_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [24]:
sample_tuple[3]

'jj'

In [25]:
sample_tuple[3]=13

TypeError: 'tuple' object does not support item assignment

#change tuple in list

In [29]:
x=(3,3,4)
y=list(x)
y

[3, 3, 4]

In [30]:
y.remove(3)
y

[3, 4]

In [33]:
y.append(5)
y

[3, 4, 5]

#we cannnot remove or add element in tuple to do this we need to convert it in list first

#set
''''''
1.add heterogenous

2.does not allow duplicates

3.cannot access using index

4.immutable using index

5.ordered first place

In [34]:
sample_set={1,34,23,45,67,22,21,32,0,25,3,66,66,0,23,43,1,"a","abc"}
type(sample_set)

set

In [35]:
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 34, 43, 45, 66, 67, 'a', 'abc'}

In [36]:
sample_set[2]

TypeError: 'set' object is not subscriptable

In [37]:
sample_set{2}

SyntaxError: invalid syntax (33962953.py, line 1)

In [38]:
sample_set.remove(43)

In [39]:
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 34, 45, 66, 67, 'a', 'abc'}

In [40]:
sample_set.add(99)

In [41]:
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 34, 45, 66, 67, 99, 'a', 'abc'}

In [42]:
sample_set.pop()#pop some ramdom number

32

#dictionary"""
1.dictionary has key value pair datastructure
2.key is unique and value using key 
3.can retrieve the value using key
4.can change the value using key 
5.key is immutable
"""

In [43]:
sample_dict={"a":"alpha",1:"first",2:"second",3:"third",1:"fourth",5:"fourth",6:"sixth"}
type(sample_dict)

dict

In [44]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [45]:
sample_dict["a"]

'alpha'

In [46]:
sample_dict[5]

'fourth'

In [47]:
sample_dict[5]="fifth"
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fifth', 6: 'sixth'}

In [48]:
sample_dict[7]="seventh"
sample_dict

{'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'third',
 5: 'fifth',
 6: 'sixth',
 7: 'seventh'}

In [49]:
sample_dict.reverse()

AttributeError: 'dict' object has no attribute 'reverse'

#string"
1.string can be retrieveed using index
2.string is immutable

In [50]:
a="hi how are you?"
type(a)

str

In [51]:
a[1]

'i'

In [52]:
a[10]

' '

In [53]:
a[3]="u"

TypeError: 'str' object does not support item assignment